<phpunit
    backupGlobals="true"
    backupStaticAttributes="false"
    bootstrap=".Build/vendor/typo3/testing-framework/Resources/Core/Build/UnitTestsBootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertWarningsToExceptions="true"
    convertDeprecationsToExceptions="false"
    forceCoversAnnotation="false"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    verbose="false"
>

    <testsuites>
        <testsuite name="sf_yubikey Unit Tests">
            <directory>./Tests/Unit/</directory>
        </testsuite>
    </testsuites>
</phpunit>
