<h3>Add new YubiKey</h3>

<fieldset class="form-section col-lg-6 col-md-8 col-sm-12">
    <div class="mb-3">
        <label for="yubikey-name" class="form-label">
            Name
        </label>
        <div class=form-field-item">
            <span id="yubikey-name-help" class="text-muted">
                You can specify a custom name for this YubiKey.
            </span>
            <div class="form-control-wrap">
                <input type="text" id="yubikey-name" name="yubikey-name" class="form-control" placeholder="e.g. YubiKey 5">
            </div>
        </div>

    </div>
    <div class="mb-3">
        <label for="yubikey-otp" class="form-label">
            YubiKey ID
        </label>
        <div class=form-field-item">
            <span id="yubikey-help" class="text-muted">
                Insert your YubiKey and press the button on the token.
            </span>
            <div class="form-control-wrap">
                <input type="text" id="yubikey-otp" name="yubikey-otp" class="form-control" placeholder="Insert YubiKey">
            </div>
        </div>
    </div>
</fieldset>
