.yubikey {
	padding-left: 20px;
}

body#typo3-index-php .t3-login-yubikey-v6 {
	padding: 0;
	margin: 0 0 5px 0;
	position: relative;
}

body#typo3-index-php .t3-login-yubikey-v6 label {
	float: left;
	padding-right: 10px;
	width: 90px;
}

body#typo3-index-php .t3-login-yubikey-v6 input.yubikey {
	line-height: 16px;
	margin: 0;
	padding: 9px 25px 9px 10px;
	width: 315px;
	border: none;
	background: #ffffff url('../Images/yubico.svg') no-repeat 328px 9px;
	-webkit-appearance: textfield;
	font-size: 12px;
}

#t3-login-yubikey-section input.t3-yubikey {
	background-image: url('../Images/yubico.svg');
	background-repeat: no-repeat;
	background-position: right 10px center;
}

.t3yubikey {
    width: 16px;
    height: 16px;
    background-image: url('../Images/yubico.svg');
    background-repeat: no-repeat;
    display: block;
}

.t3js-login-yubikey-field {
    height: 41px;
}