<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="!{isLocked}">
    <f:then>
        <div class="mb-3">
            <label for="yubikey-otp" class="form-label">
                <f:translate key="LLL:EXT:sf_yubikey/Resources/Private/Language/locallang.xlf:yubikey.auth.inputLabel"/>
            </label>
            <div class=form-field-item">
                <span id="otpHelp" class="text-muted">
                    <f:translate key="LLL:EXT:sf_yubikey/Resources/Private/Language/locallang.xlf:yubikey.auth.inputHelp"/>
                </span>
                <div class="form-control-wrap" style="max-width: 480px">
                    <input type="text" id="yubikey-otp" name="yubikey-otp" autofocus="autofocus" value="" class="form-control" required="required" />
                </div>
            </div>
        </div>
    </f:then>
    <f:else>
        <p>
            <core:icon identifier="actions-lock"/>
            <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_mfa_otp.xlf:locked"/>
        </p>
    </f:else>
</f:if>

</html>
