<fieldset class="form-section">
    <div class="mb-3">
        <label for="yubikeys" class="form-label">
            YubiKey IDs
        </label>
        <div class=form-field-item">
            <span id="qrCodeHelp" class="text-muted">
                YubiKey ID(s) - one per line. (Insert YubiKey and press the YubiKey button)
            </span>
            <div class="form-control-wrap">
                <textarea id="yubikeys" name="yubikeys" class="form-control" rows="5">{yubikeys}</textarea>
            </div>
        </div>
    </div>
</fieldset>