<h3><f:translate key="LLL:EXT:sf_yubikey/Resources/Private/Language/locallang.xlf:yubikey.configure"/></h3>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col"><f:translate key="LLL:EXT:sf_yubikey/Resources/Private/Language/locallang.xlf:yubikey.configure.name"/></th>
        <th scope="col"><f:translate key="LLL:EXT:sf_yubikey/Resources/Private/Language/locallang.xlf:yubikey.configure.yubikeyId"/></th>
        <th scope="col"><f:translate key="LLL:EXT:sf_yubikey/Resources/Private/Language/locallang.xlf:yubikey.configure.added"/></th>
        <th scope="col"><f:translate key="LLL:EXT:sf_yubikey/Resources/Private/Language/locallang.xlf:yubikey.configure.lastUsed"/></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <f:for each="{yubikeys}" as="yubikey" iteration="i">
        <tr>
            <td>{i.cycle}</td>
            <td>{yubikey.name}</td>
            <td>{yubikey.yubikeyId}</td>
            <td>{yubikey.added -> f:format.date(format: 'd.m.Y H:i:s')}</td>
            <td>
                <f:if condition="{yubikey.lastUsed}">
                    <f:then>
                        {yubikey.lastUsed -> f:format.date(format: 'd.m.Y H:i:s')}
                    </f:then>
                    <f:else>
                        <f:translate key="LLL:EXT:sf_yubikey/Resources/Private/Language/locallang.xlf:yubikey.configure.never"/>
                    </f:else>
                </f:if>
            </td>
            <td>
                <f:if condition="{yubikeys -> f:count()} > 1">
                    <button name="delete" class="btn btn-default" value="{yubikey.yubikeyId}">
                        <core:icon identifier="actions-delete" size="small" />
                        <f:translate key="LLL:EXT:sf_yubikey/Resources/Private/Language/locallang.xlf:yubikey.configure.delete"/>
                    </button>
                </f:if>
            </td>
        </tr>
    </f:for>
    </tbody>
</table>

<f:render partial="AddFormFields" arguments="{_all}" />
