<div class="form-group t3js-login-yubikey-section" id="t3-login-yubikey-section">
    <div class="form-control-wrap">
        <div class="form-control-holder">
            <input type="password" id="t3-yubikey" name="t3-yubikey" value="" placeholder="YubiKey" class="form-control input-login t3js-clearable t3js-login-yubikey-field" required="required">
            <div class="form-notice-capslock hidden t3js-login-alert-capslock">
                <img src="{images.capslock}" width="14" height="14" alt="{f:translate(key: '{labelPrefixPath}error.capslock')}" title="{f:translate(key: '{labelPrefixPath}error.capslock')}" />
            </div>
        </div>
    </div>
</div>