<fieldset class="form-section">
    <div class="mb-3">
        <label for="yubikeys" class="form-label">
            <f:translate key="LLL:EXT:sf_yubikey/Resources/Private/Language/locallang.xlf:yubikey.inputLabel"/>
        </label>
        <div class=form-field-item">
            <span id="qrCodeHelp" class="text-muted">
                <f:translate key="LLL:EXT:sf_yubikey/Resources/Private/Language/locallang.xlf:yubikey.inputHelp"/>
            </span>
            <div class="form-control-wrap">
                <textarea id="yubikeys" name="yubikeys" class="form-control" rows="5"></textarea>
            </div>
        </div>
    </div>
</fieldset>
